* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1f2a38;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: #00c6ff;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #0072ff;
    color: white;
}

.hide {
    display: none;
}

ul {
    list-style: none;
    margin-top: 20px;
}

ul li {
    background: #2e3d55;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

ul li:hover {
    background: #445b78;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}